
<h1>一覧</h1>
<% @posts.each do |p| %>
    <p>内容</p>
    <span><%= p.text %></span>
    <span><%= p.body %></span>
    <span><%= link_to 'show', post_path(p) %></span>
    <span><%= link_to 'edit', edit_post_path(p) %></span>
    <span><%= link_to 'Delete', post_path(p), :method => :delete %></span>
<% end %>
